<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Location</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.mkn0dat.cleartheairforlockscreen</string>
			<key>detail</key>
			<string>SpotLightViewController</string>
			<key>icon</key>
			<string>SpotLightIcon.png</string>
			<key>key</key>
			<string>spotlight</string>
			<key>label</key>
			<string>SpotLight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.mkn0dat.cleartheairforlockscreen</string>
			<key>detail</key>
			<string>LockscreenViewController</string>
			<key>icon</key>
			<string>LockscreenIcon.png</string>
			<key>key</key>
			<string>lockscreen</string>
			<key>label</key>
			<string>Lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Author</string>
			<key>footerText</key>
			<string>Clear The Air © 2013 mkn0dat</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>Developer (@mkn0dat) on Twitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Clear The Air</string>
</dict>
</plist>
