Package: com.mkn0dat.cleartheair
Name: Clear The Air
Depends: mobilesubstrate
Version: 1.0.2
Depends: firmware (>= 5.0)
Architecture: iphoneos-arm
Description: Change the UI opacity.
Maintainer: mkn0dat
Author: mkn0dat
Section: Tweaks
